* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, rgb(50, 124, 60), rgb(56, 187, 74));
}

.cabecalho {
    background: linear-gradient(to right, rgb(50, 124, 60), rgb(56, 187, 74));
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid rgba(4, 0, 39, 0.7)
}

.logo {
    max-width: 80px;
    margin: 30px 0 0 20px;
    border-radius: 90px;
    box-shadow: 2px 2px 5px rgb(9, 0, 90);
    z-index: 1;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menus a {
    color: rgb(221, 221, 61);
    text-shadow: 1px 1px 1px rgb(9, 0, 90);
    text-decoration: none;
    margin: 10px;
    transition: color 0.3s ease-in-out;

}


.final {
    margin-right: 50px;
}

.containerMenu {
    position: relative;
    background-image: url(imagens/carne.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 750px;
}

.carne {
    opacity: 0;
    width: 100%;
    margin-bottom: -4px;

}

.textoMenu {
    margin-top: 10%;
    width: 1000px;
    position: absolute;
    top: calc(50% - 60px);
    /* Move o texto 20 pixels para cima */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px 5px rgb(9, 0, 90);
    color: rgb(84, 230, 103);
    opacity: 0;
    transition: top 2s, opacity 2s;
    /* Adiciona transições para suavizar o efeito */
}

.carrossel {
    border-radius: 10px;
    border: 5px solid rgb(4, 0, 39);
    box-shadow: 2px 2px 4px rgb(68, 0, 0);
    overflow: hidden;
    height: 300px;
    width: 500px;
    margin: 30px;
}

.containerCarrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    /* utilizado para mover o objeto horizontalmente*/
}

.containerCarrossel img {
    object-fit: cover;
    height: 300px;
    width: 500px;

}

.titulo {
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    max-width: 300px;
    text-shadow: 2px 2px 5px rgb(209, 206, 0);
    color: rgb(9, 0, 90);
    border-bottom: 5px solid rgb(4, 0, 39);
}

footer{
    background: linear-gradient(to left, rgb(50, 124, 60), rgb(56, 187, 74));
    height: 140px;
    border-top: 5px solid rgba(4, 0, 39, 0.7);
}