* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(160, 212, 247);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 45px;
    margin-left: 20px;
}

.menus {
    display: flex;
    justify-content: space-between;
}

.menus p {
    margin: 10px;
}